/* 
    Theme: Custom CSS from Scratch
    Atuhor: StayNcloud
*/
*::-webkit-scrollbar-thumb {
  background: #607d8b;
}

*::-webkit-scrollbar {
  background: #fff;
  width: 0.8rem;
  height: 0.8rem;
}

img {
  width: 100%;
  max-width: 100%;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  padding: 1rem;
}
header .logo img {
  width: 10vw;
}
header .navbar .navbar-collapse ul.navbar-nav li.nav-item {
  padding: 0 2rem;
}
header .navbar .navbar-collapse ul.navbar-nav li.nav-item a {
  font-size: 2rem;
  color: #005e72;
}

section.top-section {
  background: url("../images/bg.png") no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: top 80% center;
}

section.abt-top-section {
  background: url("../images/abt_bg.png") no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: top 80% center;
}

section.prod_desc {
  margin: 0;
  padding: 2rem 0;
  position: relative;
}
section.prod_desc h2 {
  padding: 1rem 0;
  font-size: 2.5rem;
}
@media only screen and (max-width: 1024px) {
  section.prod_desc h2 {
    font-size: 2rem;
  }
}
section.prod_desc h2.card-title {
  color: #488f00;
}
section.prod_desc h2.card-title {
  position: relative;
}
section.prod_desc h2.card-title:before, section.prod_desc h2.card-title:after {
  content: "";
  position: absolute;
  top: 25%;
  background: url(../images/moti.png) no-repeat;
  background-size: contain;
  width: 3vw;
  height: 10vh;
}
section.prod_desc h2.card-title:before {
  left: -10%;
}
section.prod_desc h2.card-title:after {
  right: -10%;
}
section.prod_desc h3 {
  font-size: 2.5rem;
  color: #005e72;
}
section.prod_desc p {
  margin: 0;
  padding: 1rem 0;
  font-size: 1.6rem;
}

section.prod_categories {
  margin: 0;
  padding: 2rem 0;
}
section.prod_categories h2 {
  position: relative;
  display: block;
  padding: 1rem 0;
  font-size: 2.5rem;
}
@media only screen and (max-width: 1024px) {
  section.prod_categories h2 {
    font-size: 2rem;
  }
}
section.prod_categories h2.card-title {
  color: #488f00;
}
section.prod_categories h2.card-title {
  position: relative;
}
section.prod_categories h2.card-title:before, section.prod_categories h2.card-title:after {
  content: "";
  position: absolute;
  top: 18%;
  background: url(../images/moti.png) no-repeat;
  background-size: contain;
  width: 3vw;
  height: 10vh;
}
section.prod_categories h2.card-title:before {
  left: -18%;
}
section.prod_categories h2.card-title:after {
  right: -18%;
}
section.prod_categories h5 {
  color: #005e72;
}

section.explore_prod {
  margin: 0;
  padding: 2rem 0;
}
section.explore_prod h2 {
  padding: 1rem 0;
  font-size: 2.5rem;
}
@media only screen and (max-width: 1024px) {
  section.explore_prod h2 {
    font-size: 2rem;
  }
}
section.explore_prod h2.card-title {
  color: #488f00;
}
section.explore_prod h2.card-title {
  position: relative;
}
section.explore_prod h2.card-title:before, section.explore_prod h2.card-title:after {
  content: "";
  position: absolute;
  top: 18%;
  background: url(../images/moti.png) no-repeat;
  background-size: contain;
  width: 3vw;
  height: 10vh;
}
section.explore_prod h2.card-title:before {
  left: -18%;
}
section.explore_prod h2.card-title:after {
  right: -18%;
}
section.explore_prod h3 {
  font-size: 2.5rem;
  color: #005e72;
}
section.explore_prod .card img {
  width: 250px;
  min-height: 100px;
}
section.explore_prod .card a {
  color: #c28c00;
  font-weight: 700;
  text-decoration: underline;
}
section.explore_prod p {
  color: #005e72;
  margin: 0;
  padding: 1rem 0;
  font-size: 1rem;
  line-height: 35px;
}

section.abt_cust_service {
  margin: 0;
  padding: 2rem 0;
  position: relative;
}
section.abt_cust_service h2 {
  padding: 1rem 0;
  font-size: 2.5rem;
}
@media only screen and (max-width: 1024px) {
  section.abt_cust_service h2 {
    font-size: 2rem;
  }
}
section.abt_cust_service h2.card-title {
  color: #005e72;
}
section.abt_cust_service h2.card-title {
  position: relative;
}
section.abt_cust_service h2.card-title:before, section.abt_cust_service h2.card-title:after {
  position: absolute;
  top: 18%;
  background: url(../images/moti.png) no-repeat;
  background-size: contain;
  width: 3vw;
  height: 10vh;
}
section.abt_cust_service h2.card-title:before {
  left: -18%;
}
section.abt_cust_service h2.card-title:after {
  right: -18%;
}
section.abt_cust_service p {
  color: #000;
  margin: 0;
  padding: 1.4rem 0;
  font-size: 1.6rem;
  z-index: 50;
}
section.abt_cust_service .cust_desc {
  position: relative;
}
section.abt_cust_service .cust_desc .card {
  position: relative;
}
section.abt_cust_service .cust_desc .card:before {
  z-index: 49;
  content: "";
  left: 0;
  top: 0;
  width: 70vw;
  height: 100%;
  background-color: #eaebeb;
  content: "";
  position: absolute;
  transform: translateX(-20%);
}

section.abt_prod_desc {
  margin: 0;
  padding: 2rem 0;
  position: relative;
}
section.abt_prod_desc h2 {
  padding: 1rem 0;
  font-size: 2.5rem;
}
@media only screen and (max-width: 1024px) {
  section.abt_prod_desc h2 {
    font-size: 2rem;
  }
}
section.abt_prod_desc h2.card-title {
  color: #488f00;
}
section.abt_prod_desc h2.card-title {
  position: relative;
}
section.abt_prod_desc h2.card-title:before, section.abt_prod_desc h2.card-title:after {
  content: "";
  position: absolute;
  top: 25%;
  background: url(../images/moti.png) no-repeat;
  background-size: contain;
  width: 3vw;
  height: 10vh;
}
section.abt_prod_desc h2.card-title:before {
  left: -10%;
}
section.abt_prod_desc h2.card-title:after {
  right: -10%;
}
section.abt_prod_desc h3 {
  font-size: 2.5rem;
  color: #005e72;
}
section.abt_prod_desc p {
  margin: 0;
  padding: 1rem 0;
  font-size: 1.6rem;
}

section.contact_us {
  margin: 0;
  padding: 2rem 0;
  position: relative;
}
section.contact_us h2 {
  padding: 1rem 0;
  font-size: 2.5rem;
}
@media only screen and (max-width: 1024px) {
  section.contact_us h2 {
    font-size: 2rem;
  }
}
section.contact_us h2.card-title {
  color: #488f00;
}
section.contact_us h2.card-title {
  position: relative;
}
section.contact_us h2.card-title:before, section.contact_us h2.card-title:after {
  position: absolute;
  top: 25%;
  background: url(../images/moti.png) no-repeat;
  background-size: contain;
  width: 3vw;
  height: 10vh;
}
section.contact_us h2.card-title:before {
  left: -10%;
}
section.contact_us h2.card-title:after {
  right: -10%;
}
section.contact_us h3 {
  font-size: 2.5rem;
  color: #005e72;
}
section.contact_us p {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1.6rem;
}
section.contact_us .form-control {
  height: calc(2.5em + 1rem + 2px);
}
section.contact_us textarea.form-control {
  height: calc(3em + 5rem + 2px);
}
section.contact_us button.form-control {
  background-color: #005e72;
}

footer {
  background: rgb(239, 239, 239);
  margin: 0;
  padding: 2rem 0;
}
footer h4 {
  color: #005e72;
}
footer .block {
  color: #607d8b;
  font-weight: 600;
}
footer .block .custom-search {
  position: relative;
}
footer .block .custom-search-input {
  width: 100%;
  padding-right: 100px !important;
  box-sizing: border-box;
}
footer .block .custom-search-botton {
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  line-height: 1 !important;
  z-index: 4;
}
footer .block span {
  display: block;
  line-height: 25px;
}/*# sourceMappingURL=style.css.map */