/* 
    Theme: Custom CSS from Scratch
    Atuhor: StayNcloud
*/

$them_color: #005e72;
$logo_color: #c28c00;
$green: #488f00;
$grey: #607d8b;
*::-webkit-scrollbar-thumb {
    background: $grey;
}

*::-webkit-scrollbar {
    background: #fff;
    width: 0.8rem;
    height: 0.8rem;
}

// body {
//     background: rgb(239, 239, 239);
// }
img {
    width: 100%;
    max-width: 100%;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: max-content;
    margin: 0 auto;
    padding: 1rem;
    .logo {
        img {
            width: 10vw;
        }
    }
    .navbar {
        .navbar-collapse {
            ul.navbar-nav {
                li.nav-item {
                    padding: 0 2rem;
                    a {
                        font-size: 2rem;
                        color: $them_color;
                    }
                }
            }
        }
    }
}

section.top-section {
    background: url("../images/bg.png") no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: top 80% center;
}

section.abt-top-section {
    background: url("../images/abt_bg.png") no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: top 80% center;
}

section.prod_desc {
    margin: 0;
    padding: 2rem 0;
    position: relative;
    h2 {
        padding: 1rem 0;
        font-size: 2.5rem;
        @media only screen and (max-width: 1024px) {
            font-size: 2rem;
        }
        &.card-title {
            color: $green;
        }
        &.card-title {
            position: relative;
            &:before,
            &:after {
                content: "";
                position: absolute;
                // left: -10%;
                top: 25%;
                background: url(../images/moti.png) no-repeat;
                background-size: contain;
                width: 3vw;
                height: 10vh;
            }
            &:before {
                left: -10%;
            }
            &:after {
                right: -10%;
            }
        }
    }
    h3 {
        font-size: 2.5rem;
        color: $them_color;
    }
    p {
        margin: 0;
        padding: 1rem 0;
        font-size: 1.6rem;
    }
}

section.prod_categories {
    margin: 0;
    padding: 2rem 0;
    h2 {
        position: relative;
        display: block;
        padding: 1rem 0;
        font-size: 2.5rem;
        @media only screen and (max-width: 1024px) {
            font-size: 2rem;
        }
        &.card-title {
            color: $green;
        }
        &.card-title {
            position: relative;
            &:before,
            &:after {
                content: "";
                position: absolute;
                // left: -10%;
                top: 18%;
                background: url(../images/moti.png) no-repeat;
                background-size: contain;
                width: 3vw;
                height: 10vh;
            }
            &:before {
                left: -18%;
            }
            &:after {
                right: -18%;
            }
        }
    }
    h5 {
        color: $them_color;
    }
}

section.explore_prod {
    margin: 0;
    padding: 2rem 0;
    h2 {
        padding: 1rem 0;
        font-size: 2.5rem;
        @media only screen and (max-width: 1024px) {
            font-size: 2rem;
        }
        &.card-title {
            color: $green;
        }
        &.card-title {
            position: relative;
            &:before,
            &:after {
                content: "";
                position: absolute;
                // left: -10%;
                top: 18%;
                background: url(../images/moti.png) no-repeat;
                background-size: contain;
                width: 3vw;
                height: 10vh;
            }
            &:before {
                left: -18%;
            }
            &:after {
                right: -18%;
            }
        }
    }
    h3 {
        font-size: 2.5rem;
        color: $them_color;
    }
    .card {
        img {
            width: 250px; // how much you want
            min-height: 100px;
        }
        a {
            color: $logo_color;
            font-weight: 700;
            text-decoration: underline;
        }
    }
    p {
        color: $them_color;
        margin: 0;
        padding: 1rem 0;
        font-size: 1rem;
        line-height: 35px;
    }
}

section.abt_cust_service {
    margin: 0;
    padding: 2rem 0;
    position: relative;
    h2 {
        padding: 1rem 0;
        font-size: 2.5rem;
        @media only screen and (max-width: 1024px) {
            font-size: 2rem;
        }
        &.card-title {
            color: $them_color;
        }
        &.card-title {
            position: relative;
            &:before,
            &:after {
                // content: "";
                position: absolute;
                // left: -10%;
                top: 18%;
                background: url(../images/moti.png) no-repeat;
                background-size: contain;
                width: 3vw;
                height: 10vh;
            }
            &:before {
                left: -18%;
            }
            &:after {
                right: -18%;
            }
        }
    }
    p {
        color: #000;
        margin: 0;
        padding: 1.4rem 0;
        font-size: 1.6rem;
        z-index: 50;
    }
    .cust_desc {
        position: relative;
        .card {
            position: relative;
            &:before {
                z-index: 49;
                content: "";
                left: 0;
                top: 0;
                width: calc(100vw - 30vw);
                height: 100%;
                background-color: #eaebeb;
                content: "";
                position: absolute;
                transform: translateX(-20%);
            }
        }
    }
}

section.abt_prod_desc {
    margin: 0;
    padding: 2rem 0;
    position: relative;
    h2 {
        padding: 1rem 0;
        font-size: 2.5rem;
        @media only screen and (max-width: 1024px) {
            font-size: 2rem;
        }
        &.card-title {
            color: $green;
        }
        &.card-title {
            position: relative;
            &:before,
            &:after {
                content: "";
                position: absolute;
                // left: -10%;
                top: 25%;
                background: url(../images/moti.png) no-repeat;
                background-size: contain;
                width: 3vw;
                height: 10vh;
            }
            &:before {
                left: -10%;
            }
            &:after {
                right: -10%;
            }
        }
    }
    h3 {
        font-size: 2.5rem;
        color: $them_color;
    }
    p {
        margin: 0;
        padding: 1rem 0;
        font-size: 1.6rem;
    }
}

section.contact_us {
    margin: 0;
    padding: 2rem 0;
    position: relative;
    h2 {
        padding: 1rem 0;
        font-size: 2.5rem;
        @media only screen and (max-width: 1024px) {
            font-size: 2rem;
        }
        &.card-title {
            color: $green;
        }
        &.card-title {
            position: relative;
            &:before,
            &:after {
                // content: "";
                position: absolute;
                // left: -10%;
                top: 25%;
                background: url(../images/moti.png) no-repeat;
                background-size: contain;
                width: 3vw;
                height: 10vh;
            }
            &:before {
                left: -10%;
            }
            &:after {
                right: -10%;
            }
        }
    }
    h3 {
        font-size: 2.5rem;
        color: $them_color;
    }
    p {
        margin: 0;
        padding: 0.5rem 0;
        font-size: 1.6rem;
    }
    .form-control {
        height: calc(2.5em + 1rem + 2px);
    }
    textarea.form-control {
        height: calc(3em + 5rem + 2px);
    }
    button.form-control {
        background-color: #005e72;
    }
}

footer {
    background: rgb(239, 239, 239);
    margin: 0;
    padding: 2rem 0;
    h4 {
        color: $them_color;
    }
    .block {
        .custom-search {
            position: relative;
        }
        .custom-search-input {
            width: 100%;
            padding-right: 100px !important;
            box-sizing: border-box;
        }
        .custom-search-botton {
            position: absolute;
            right: 3px;
            top: 3px;
            bottom: 3px;
            line-height: 1 !important;
            z-index: 4;
        }
        span {
            display: block;
            line-height: 25px;
        }
        color: $grey;
        font-weight: 600;
    }
}

// Media Queries